.calendar{
    margin-top: 20px;
    display: inline-grid;
    grid-auto-columns: 200px;
    grid-auto-flow: column;
    overflow-x: scroll;
    white-space: nowrap;
    width:100%;
    scrollbar-color: var(--accentColor) var(--dayComplete);
    padding-bottom: 5px;
    :global{
        .day{
            text-wrap: balance;
            text-align:center;
            background:none;
            grid-column:span 1;
            grid-row: 1/2;
            border-color: var(--calendarBar);
            border-width: 5px 2.5px;
            border-style: solid;
            padding:25px;
            color:var(--calendarFont);
            background:var(--dayIncomplete);
        }
        [data-complete=true]{
            background:var(--dayComplete);
        }
        .current{
            border-color: var(--dayCurrentDay);
            border-width: 10px;
            font-weight:bold;
        }
    }
}