.calendar{
    margin-top: 20px;
    display: inline-grid;
    grid-auto-columns: 200px;
    grid-auto-flow: column;
    overflow-x: scroll;
    white-space: nowrap;
    width:100%;
    scrollbar-color: var(--themeColor) var(--firstColor) ;
    :global{
        .day{
            text-wrap: balance;
            text-align:center;
            background:none;
            grid-column:span 1;
            grid-row: 1/2;
            border-color: var(--firstColor);
            border-width: 5px 2.5px;
            border-style: solid;
            padding:25px;
            color:var(--themeColor);
            background:var(--secondColor);
            font-weight:normal;
            font-size:0.5em;
        }
        [data-complete=true]{
            background:var(--thirdColor);
        }
        .current{
            border-color: var(--themeColor);
            border-width: 10px;
            font-weight:bold;
        }
        h2{
            margin:auto;
            text-wrap: balance;
            width:fit-content;
            font-weight: inherit;
        }
    }
}