.wrapper{
    --bkg: var(--primary);
    --border-radius:10px;
    border:white 1px solid;
    border-radius:var(--border-radius);
    padding:20px;
    margin-bottom: 20px;
    gap:15px;
    display:flex;
    flex-wrap: wrap;
    position: relative;
    background:var(--bkg);
    :global{
        table{
            font-size:1.5rem;
        }
        td {border:1px solid white;}
        th{
            font-size:0.75em;
            padding:5px;
        }
        td{
            padding:5px;
            font-size:0.5em;
        }
        span{ padding-right:12px;}
        a{
            display: inline-block;
            width: 25px;
            height: 25px;
            vertical-align: bottom;
        }
        svg{
            height: 100%;
            width: 100%;
        }
    }
}
.visible{
    display: block;
}