.wrapper{
    --bkg: var(--body-bg);
    --border-radius:10px;
    --dragWidth: clamp(25px,1em,50px);
    --border-radius:10px;
    --inputWidth: 100px;
    --tableGap: 5px;
    border:var(--firstColor) 5px solid;
    border-right-color:var(--firstColor);
    border-radius:var(--border-radius);
    color:var(--themeColor);
    margin-bottom: 20px;
    gap:15px;
    display:grid;
    position: relative;
    background:var(--bkg);
    font-size: 0.7rem;
    :global{
        .drag-handle{
            grid-row:1/2;
            grid-column:2/3;
            display:block;
            width:var(--dragWidth);
            background-image: radial-gradient(circle, var(--firstColor) 30%, transparent 30%);
            background-size: 5px 5px;
            border-radius:0 var(--border-radius) var(--border-radius) 0;
        }
        table{
            grid-row: 1 / 2;
            grid-column: 1 / 2;
            font-size:1.5rem;
            padding:20px 0 20px 20px;
        }
        td {border:1px solid var(--fourthColor);}
        th{
            font-size:0.75em;
            padding:5px;
        }
        td{
            padding:5px;
            font-size:0.5em;
        }
        td:has(a){
            span{ padding-right: 10px;}
        }
        a{
            display: inline-block;
            aspect-ratio: 1/1;
            height: 25px;
            vertical-align: bottom;
        }
        svg{
            height: 100%;
            width: 100%;
        }
    }
}