:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
    --body-bg:#EEEEEE;
    --themeColor:black;
    --firstColor:#82AA57;
    --secondColor:#C5D86D;
    --thirdColor:#82AA57;
    --fourthColor:#C5D86D;
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-bg:#051720;
    --themeColor:white;
    --firstColor:#023E8A;
    --secondColor:#0096C7;
    --thirdColor:#14168b;
    --fourthColor:#c8e7f1;
  }
}

[hidden] { opacity: 0; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html { 
  line-sizing: normal;
  font-size:24px;
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--body-bg);
  max-width:768px;
  margin:auto;
}

footer{
  border-top:10px solid var(--firstColor);
  font-size:0.6em;
  padding:30px 15px 15px 15px;
}

header{
  border-bottom:10px solid var(--firstColor);
  padding: 15px;
  font-size:1.25rem;
  color:var(--themeColor);
  h1{
    font-size:1em;
    width: fit-content;
    margin-right:auto;
  }
  label{
    font-size:0.6em;
    display: flex;
    gap:5px;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
    text-wrap: balance;
    cursor:pointer;
  }
  button{
    cursor:pointer;
    display: inline-block;
    background:none;
    border:none;
    width:30px;
    aspect-ratio: 1/1;
    flex-shrink:0;
    color:inherit;
    svg{
      display: inline-block;
      width:100%;
      height:100%;
      fill: currentColor;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
}

button[disabled]{
  filter:grayscale(1)
}

ol,ul{
  margin-left:1.2em;
}

.popup{
  --padding: 1em;
  --border-bg: conic-gradient(var(--themeColor),var(--firstColor),var(--themeColor),var( --firstColor),var(--themeColor));
  --border-size: 0.25em;
  text-align: center;
  color:var(--themeColor);
  font-size:0.75rem;
  width: clamp(250px, 80vw, 400px);
  height: fit-content;
  margin: auto;
  position: fixed;
  inset: 0 0 0 0;
  z-index: 1000;
  top: calc(100% - 100px);
  transition: display 1s allow-discrete, overlay 1s allow-discrete;
  animation: closePopup 1s forwards;
  &.active {
    animation: openPopup 1s forwards;
  }
  &:empty{
    display:none;
  }
  overflow: hidden;
  padding: calc(var(--padding) + var(--border-size));
  border-radius: var(--border-radius);
}
.popup::before{
  content: '';
  display: block;
  background: var(--border-bg);
  width: 200%;
  aspect-ratio: 1 / 1; 
  height: auto;
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  border-radius: 100%; 
  z-index: -2;
  animation: popupSpin 2000ms linear infinite;
}
.popup::after {
  content: '';
  position: absolute;
  inset: var(--border-size);
  background: var(--body-bg);
  z-index: -1;
  border-radius: calc(var(--border-radius) - var(--border-size));
}

@keyframes popupSpin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to   {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes openPopup {
  from {
    opacity: 0;
    translate:0px 25px;
  }
  to {
    opacity: 1;
    translate:0px -25px;
  }
}

@keyframes closePopup {
  from {
    opacity: 1;
    translate:0px -25px;
  }
  to {
    opacity: 0;
    translate:0px 25px;
  }
}

#loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset:0 0 0 0;
  width: 100%;
  height: 100svh;
  z-index: 1000;
  .spinner {
    display: block;
    width: 80px;
    height: 80px;
    border: 8px solid var(--themeColor);
    border-top: 8px solid var(--firstColor); 
    border-radius: 50%;
    animation: spin 1.5s linear infinite;
  }
}


/* Animation for the loader */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


@keyframes fadeup {
  from {
    opacity: 0;
    translate:0px 50px;
  } to {
    opacity: 1;
    translate:0px 0px;
  }
}

@keyframes blur {
  from {
    backdrop-filter: blur(0px);
  } to {
    backdrop-filter: blur(5px);
  }
  
}